<div class="container-fluid">
<form (submit)="onSubmit()">
<div>
    <input type="radio"
     [(ngModel)]="transactionMode"
      value="CASH" 
      name="transactionMode" 
      id="transactionMode">CASH
</div>
<div>
<input  [(ngModel)]="transactionMode" type="radio" value="CARD"  name="transactionMode" id="transactionMode">CARD
</div>
<div>
<input  [(ngModel)]="transactionMode" type="radio" value="ONLINE" name="transactionMode" id="transactionMode">ONLINE
</div>
<input type="submit" name="placeOrder" value="Place Order">
</form></div>
